body {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	color: white;
	font-size: 50px;
}

#carousel {
	text-decoration: none;
	width: 600px;
	height: 400px;
    position: relative;
	overflow: hidden;
}

#carousel ul {
	width: 3000px;
  	margin:0;
  	padding:0;
}

li {
	width: 600px;
	height: 400px;
	float: left;
	list-style: none;
}

.arrows  {
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	display: flex;
	text-shadow: 2px 2px 2px #000000;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.points  {
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	display: flex;
	text-shadow: 2px 2px 2px #000000;
	position: absolute;
	bottom: 20px;
	left: 60px;
	right: 60px;
	font-size: 30px;
}

.animate {
	-webkit-animation:pulse 1s infinite;
}


